---
import urls from "@/data/urls";
import { Image } from "astro:assets";
import ProductToCartBtn from "@/components/product/ProductToCartBtn.astro";

const { product } = Astro.props;

// TODO
// заменить `product.data.images[0]` на `thumb`
// все необходимое сделать в контенте

// TODO
// отрефакторить здесь стили DIY
---

<div class="productCard">
  <a class="productCard__inner" href={urls.product + product.slug}>
    <div class="productCard__image">
      <Image
        src={product.data.images[0]}
        alt=""
        quality="mid"
        decoding="auto"
      />
    </div>
    <div class="productCard__name">
      <p class="_name">{product.data.name}</p>
      <p class="_price">= {product.data.price}₽</p>
    </div>
    <div class="productCard__code">Артикул: {product.data.code}</div>
    <div class="productCard__price">{product.data.price}₽</div>
  </a>
  <div class="productCard__actionBuy">
    <ProductToCartBtn product={product} />
  </div>
</div>

<style lang="scss">
  .productCard {
    position: relative;
    padding: 1rem;
    background: hsla(0, 0%, 100%, 0.25);
    box-shadow:
      0 2px 4px 0 rgba(0, 0, 0, 0.02),
      0 6px 20px 0 rgba(0, 0, 0, 0.1);
    transition:
      translate 0.25s,
      box-shadow 0.25s;

    &:hover {
      translate: 0 -4px;
      box-shadow:
        0 4px 8px 0 rgba(0, 0, 0, 0.02),
        0 6px 20px 0 rgba(0, 0, 0, 0.1);
    }

    &__inner {
      display: grid;
      grid-template-columns: 100%;
      grid-template-areas: "inner";
      gap: 0.5rem;

      > * {
        grid-area: inner;
      }
    }

    &__image {
      aspect-ratio: 1;
      overflow: clip;
      border-radius: 5px;
    }

    &__name {
      place-self: start start;
      max-width: 80%;
      margin: 0.5rem;
      padding: 0.5rem;
      background: hsla(0, 0%, 30%, 0.15);
      backdrop-filter: blur(3px);
      color: #fff;
      text-shadow: 1px 0 var(--color-text-primary);
      font-size: 1rem;
      font-weight: 400;
      line-height: 1;
      text-align: left;
      text-wrap: balance;

      p + p {
        margin-top: 0.5rem;
      }
    }

    &__code {
      display: none;
    }

    &__price {
      display: none;
    }

    &__actionBuy {
      position: absolute;
      right: 1rem;
      bottom: 1rem;
      margin: 0.5rem;
      opacity: 0;
      translate: 5px 0;
      visibility: hidden;
      will-change: scale, opacity, transform;
      transition: 0.25s;

      &:has(.inCart) {
        opacity: 1;
        translate: 0;
        visibility: visible;
      }

      &:hover {
        scale: 1.1;
      }
    }

    &:hover &__actionBuy {
      opacity: 1;
      translate: 0;
      visibility: visible;
    }
  }
</style>
