---
import urls from "@/data/urls.ts";

import ProductToCartBtn from "@/components/product/ProductToCartBtn.astro";

const { productData } = Astro.props;
---

<div class="product">
  <div class="inner" transition:name={productData.code}>
    <div class="image">
      <img src=`/images/product/${productData.code}-1.jpg` alt=""/>
    </div>
    <div class="name">{productData.name}</div>
    <div class="code">Артикул: {productData.code}</div>
    <div class="description">Описание: {productData.description}</div>
    <div class="price">Цена: {productData.price}₽</div>
    <a href={urls.product + productData.code}>Посмотреть</a>

    <ProductToCartBtn code={productData.code} name={productData.name} price={productData.price}/>
  </div>
</div>