---
import { getCollection, getEntry } from "astro:content";
import Letitgo from "@/layouts/Letitgo.astro";
import ProductImages from "@/components/product/ProductImages.astro";
import ProductToCartBtn from "@/components/product/ProductToCartBtn.astro";
import ProductListByCategory from "@/components/product/ProductListByCategory.astro";

export async function getStaticPaths() {
  const products = await getCollection("products");

  return products.map((product) => ({
    params: { product: product.slug },
    props: { product },
  }));
}

const { product } = Astro.props;
const category = await getEntry(product.data.category);
const { Content } = await product.render();
---

<Letitgo page="product" title={product.data.name + " – letitgo"}>
  <article class="product">
    <div class="product__images" transition:name={"t-" + product.slug}>
      <ProductImages images={product.data.images} />
    </div>
    <div class="product__info" transition:animate="slide">
      <header>
        <h1 class="product__title">{product.data.name}</h1>
      </header>
      <div class="product__code"><b>Артикул</b>: {product.data.code}</div>
      <div class="product__category">
        <b>Категория</b>: {category.data.name}
      </div>
      <div class="product__description">
        <b>Описание</b>: {product.data.description}
      </div>
      <div class="product__price">
        <div>= {product.data.price}₽</div>
        <ProductToCartBtn product={product} />
      </div>
    </div>
  </article>

  <ProductListByCategory
    category={category}
    excludeProductSlug={product.slug}
  />
</Letitgo>

<style lang="scss">
  .product {
    display: grid;
    grid-template-columns: 100%;
    gap: 2rem;
    padding-bottom: 2rem;

    @media (width > 960px) {
      grid-template-columns: minmax(0, 3fr) minmax(0, 2fr);

      &__info {
        position: sticky;
        top: 120px;
        align-self: start;
        display: grid;
        grid-template-columns: 100%;
        gap: 1rem;
      }
    }

    &__price {
      display: flex;
      align-items: center;
      gap: .25rem;
      font-size: 1.25rem;
      font-weight: bold;
    }
  }
</style>
