---
import productsData from "@/data/products.ts";
import urls from "@/data/urls.ts";

import Letitgo from "@/layouts/Letitgo.astro";
import ProductPhotos from "@/components/product/ProductPhotos.astro";
import ProductToCartBtn from "@/components/product/ProductToCartBtn.astro";

export async function getStaticPaths() {
  const pages = productsData;

  return pages.map(
    (props = { id: 1, code, name, description, price, imageCount }) => {
      return {
        params: { product: urls.product + props.code },
        props: props,
      };
    },
  );
}

const { code, name, description, price, imageCount } = Astro.props;
---

<Letitgo page="product" title={name + " – letitgo"}>
  <article class="product" transition:name={code}>
    <header>
      <h1 class="product__title">{name}</h1>
    </header>
    <div class="product__image">
      <ProductPhotos code={code} />
    </div>
    <div class="product__code">Артикул: {code}</div>
    <div class="product__description">Описание: {description}</div>
    <div class="product__price">Цена: {price}₽</div>
    <div class="product__actionBuy">
      <ProductToCartBtn code={code} name={name} price={price} />
    </div>
  </article>

  <!-- Здесь блок аналогичных товаров (той же категории) -->

</Letitgo>

<style lang="scss">
  .product {
    &__title {
    }

    &__image {
    }

    &__code {
    }

    &__description {
    }

    &__price {
    }

    &__actionBuy {
    }
  }
</style>
