---
import productsData from "@/data/products.ts";
import urls from "@/data/urls.ts";

import Letitgo from "@/layouts/Letitgo.astro";
import ProductPhotos from "@/components/product/ProductPhotos.astro";
import ProductToCartBtn from "@/components/product/ProductToCartBtn.astro";

export async function getStaticPaths() {
  const pages = productsData;

  return pages.map(
    (props = { id: 1, code, name, description, price, imageCount }) => {
      return {
        params: { product: urls.product + props.code },
        props: props,
      };
    },
  );
}

const { code, name, description, price, imageCount } = Astro.props;
---

<Letitgo title={name + " – letitgo"}>
  <article transition:name={code}>
    <h1>{name}</h1>
    <div class="image">
      <ProductPhotos code={code} />
    </div>
    <div class="code">Артикул: {code}</div>
    <div class="description">Описание: {description}</div>
    <div class="price">Цена: {price}₽</div>

    <ProductToCartBtn code={code} name={name} price={price} />
  </article>
</Letitgo>
