---
import { getCollection, getEntry, getEntries } from 'astro:content';
import { Image } from 'astro:assets';

const {product} = Astro.props;

const {category = await getEntry(product.data.category)} = Astro.props

const categories = await getCollection('categories')

console.log(categories)
---

<div>
  {product.slug} |
  {product.categoryName}
  {category.data.name}
  {product.data.price} руб.

  {(categories[0].data.relatedProducts).map(c => (
    <div>
      {c.slug}
    </div>
  ))}

  <Image src={product.data.images} alt=""/>

</div>